body{
    font-family: 'Open Sans', sans-serif;
}
#tens{
    width:25vh;
    margin: 20px 10px 10px 20px;
}
#main{
    margin: 20px 10px 10px 20px;
}

#title{
    color: #f06d1f;
    margin-left:20px;
    font-size:35px;
    padding: 10px;
}

#myMain{
    margin-top: 9vh;
    margin-left: 2.5vh;
}
#tensImg{
    width: 140vh;
    /* margin-left: 8vh; */
    padding: 40px;
}

#textdiv{
    font-size: 20px;
}

#dataClothImg{
    display: flex;
    /* justify-content: space-evenly; */
    align-content: space-around;
    
}
#dataClothImg img{
    height: 48vh;
    padding: 40px;
}

#storeImg{
    -webkit-animation: filter-animation 5s infinite;
}

#dataStoreImg{
    -webkit-animation: filter-animation 5s infinite;
}

#labelImg{
    height: 40vh;
    /* padding: 40px; */
}

.para3{
    font-style: italic;
    font-weight: 100;
}

.pa3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#by2{
    display: flex;
    justify-content: space-around;
}

#clothingSet{
    height: 50vh;
}
#gif{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    background-color: #f06d1f;
    color: white;
    margin-left: -13px;
}

li{
    margin-left:80px;
    padding: 20px;
}








@-webkit-keyframes filter-animation {
    0% {
      -webkit-filter: sepia(0) saturate(2);
    }
    
    50% {
      -webkit-filter: sepia(1) saturate(8);
    }
    
    100% {
      -webkit-filter: sepia(0) saturate(2);
    }
  }
  
 

